*{
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  
}
.todo-heading{
  margin-top: 24px; 
  display: flex;
  justify-content: center;   
}
.todo-form{
  margin-top: 5px; 
  display: flex;
  justify-content: center; 
}
.todo-input{
  outline: none;
  background: none;
  border: 1px solid black; 
}
.todo-input:focus{
  border: 2px solid rgb(23, 23, 231);
  box-shadow: 50px; 
}
h1{
  text-align: center;

}
.Todo{
  background-color: chocolate;
  border: 2.5px groove black;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  width: 50%;
  margin-bottom: 10px;
  padding: 8px;
  color: white;

}
.completed{
  text-decoration: line-through;
  color:black;
  margin: auto;
  opacity: 0.4;
  cursor: default;
  
}
.incompleted{
  color:white;
  margin: auto;
  cursor: default;
}
.icon-edit{
  margin: 5px;
  color: rgb(7, 7, 95);
}
.icon-delete{
  margin: 5px;
  color: black;
}
.icon-edit.completed {
  pointer-events: none;
}

@media screen and (max-width: 600px){
  .Todo{
    width: 75%;
  }
  .icon-edit{
    margin: 3px;
  }
  .icon-delete{
    margin: 3px;
  }
  .icons{
    flex-wrap: wrap;
  }
}
